<script defer src="/js/products.js"></script>
<script defer type="module" src="/js/main.js"></script>

<nav
	class="navbar navbar-expand-lg bg-body-tertiary bg-primary"
	data-bs-theme="dark"
>
	<div class="container-fluid">
		<a class="navbar-brand" href="/products"><img
				class="header__logo"
				src="img/favicon.svg"
				alt="Logotipo"
			/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="/products"
					>Home</a>
				</li>
			</ul>
			<div class="imgCarro" id="imgCarro" data-cart-id="{{cartID}}">
				<img src="img/shopbag.svg" class="pointer carrito" alt="carrito" />
			</div>

		</div>
	</div>
</nav>

<nav class="navegacion">
	<p>Bienvenido! {{userName}}, {{email}}</p>
	<form action="/api/sessions/logout" method="post">
		<button class="btn btn-primary" type="submit">Log Out</button>
	</form>

</nav>

<main class="mainContenedor">
	<br />

	<div class="container d-flex">

		{{#each products}}

			<div class="card" style="width: 18rem;">
				<img src={{this.img}} class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{this.title}}</h5>
					<p class="card-text">Some quick example text to build on the card
						title and make up the bulk of the card's content.</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Precio: {{this.price}}</li>
					<li class="list-group-item">Stock: {{this.stock}}</li>
				</ul>
				<div class="card-body">
					<button
						class="btn btn-primary btn-addProductToCart"
						data-product-id="{{this._id}}"
					>Agregar a carrito</button>
				</div>
			</div>

		{{/each}}
	</div>
	<div class="paginate">

		{{#if hasPrevPage}}
			<a href="/products?page={{prevPage}}">Anterior
			</a>
		{{/if}}
		{{#if hasPrevPage}}
			{{#if hasNextPage}}
				<p>-</p>
			{{/if}}
		{{/if}}

		{{#if hasNextPage}}
			<a href="/products?page={{nextPage}}">Siguiente
			</a>
		{{/if}}
		<p>Pagina {{currentPage}} de {{totalPages}}</p>
	</div>
</main>

<footer class="footer">
	<div class="grid-footer">
		<div class="iconos">
			<a href="#"><i class="fa-brands fa-instagram icon"></i></a>
			<a href="#"><i class="fa-brands fa-whatsapp icon"></i></a>
		</div>
		<div class="ubicaciones">
			<p class="texto-ubicaciones">Santiago - Chile</p>
			<p class="texto-ubicaciones">Hacemos envios</p>
		</div>
	</div>
</footer>